/* reset : mettre à 0 toutes les propriété du navigateur */
html{
    font-size: 62.5%; 
    /* 
    taille de la police de caractère
    62.5% * 16 = 10.00rem = root em
    */
}
body{
    font: 1.6rem sans-serif; /* taille + police 1.6rem */
    margin: 0;
    letter-spacing: 0.1rem; /* 1px */
    line-height: 1.6; /* 16px */
    background-color: var(--theme-bg-color);
    color: var(--theme-text-color);
}
h1,h2,h3,p,ul{ /* contexte de balises ayant les mêmes props */
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
}

/* Variables css*/
:root{
    --theme-bg-color : #2b2a33; /* toujours commencer par les -- avant de mettre la variable */
    --theme-text-color : #fff;
    --theme-link-color : rgb(121, 98, 235);
    --theme-header-h1-bg : rgba(0, 150, 136,1.0);
    --theme-btn-primary : #3498db;
    --theme-btn-secondary : #ccc;
} 
button{
    padding: 0;
    background-color: transparent;
    font-size: inherit;
    border: 0;
}
a{
    text-decoration: none;
    color: var(--theme-link-color);
    
}
/* theme css */

.btn-theme-g{
    display: inline-block;
    width: 20rem; /* 200px*/
    line-height: 3rem;
    padding: 1rem;
    background-color: var(--theme-btn-secondary);
    text-align: center;
}

header > h1{
    background-color: var(--theme-header-h1-bg);
    text-align: center;
    line-height: 8rem;
    font-weight:bolder;
    font-size: 4rem;
    color: #fff;
}
header > h1 span{
    vertical-align: 0.5rem; /* 5px */
}
section{
    max-width: 100rem; /* 1200px */
    margin: 5rem auto;
    background-color: #42414d;
    padding: 1rem;
}
section h2, 
section p{
  background-color: #2b2a33;
  color: inherit;
  padding: 1rem; 
}
section p{
    margin-top: 1rem;
}

section p img {
    display: inline-block;
    width: 100%;
    object-fit: cover;
}